body {
    background-color: black; 
}

.div-body {
    width: 70%; 
    height: 550px;
    background-image: url("hearts1.png"); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    margin: auto; 
    margin-top: 50px; 
}

.header { 
    text-align: center; 
    color: white; 
    margin-bottom: 0px; 
    -webkit-text-stroke-color: black;   
    -webkit-text-stroke-width: 1px; 
}

.header2 { 
    text-align: center; 
    color: white; 
    -webkit-text-stroke-color: black;   
    -webkit-text-stroke-width: 0.5px; 
    font-size: 20px; 
    margin-right: 10%; 
    margin-left: 10%;  
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.answer-questions-body {
    width: 90%; 
    height: 400px;
    margin-top: 15px;
    margin: auto;
    display: flex; 
    
}

p {
    margin-top: 0px; 
    margin-bottom: 0px; 
    font-size: 14px; 
}

.selections {
    width: 100%;
}


.submit {
    margin-top: 30px; 
}

.submit {
    text-align: center; 
    margin: auto; 
    position: absolute; 
    width: 10%; 
    right: 10px;
    left: 10px;  

    
}

.questions-body {
    background: white;  
    width: 90%;
    height: 400px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    font-size: 15px; 
}

.answer-body {
    background: pink; 
    width: 10%; 
    height: 400px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
}

.view-results {

    text-align: center; 
    margin: auto; 
    position: absolute; 
    width: 10%; 
    right: 10px;
    left: 10px;  

}